body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.bars {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.bar {
  background-color: #ccc;
  height: 8px;
}

.bar-contents {
  background-color: green;
  height: 100%;
  /* The scaleX() CSS function defines a transformation that resizes an element along the x-axis */
  transform: scaleX(0);
  /* The transform-origin CSS property sets the origin for an element's transformations */
  transform-origin: left;
  transition-duration: 2000ms;
  /* The transition-property CSS property sets the CSS properties to which a transition effect should be applied - https://developer.mozilla.org/en-US/docs/Web/CSS/transition-property */
  transition-property: all;
  /* The transition-timing-function CSS property sets how intermediate values are calculated for CSS properties being affected by a transition effect */
  /* linear, ease-in, steps(6, end), cubic-bezier(.29, 1.01, 1, -0.68) */
  transition-timing-function: linear;
}

.bar-contents--filled {
  transform: scaleX(1);
}
