body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
  text-align: center;
}

header {
  background-color: tomato;
  height: 60px;
}

/* The flex-grow property specifies how much the item will grow relative to the rest of the flexible items inside the same container */
/* div:nth-of-type(1) {flex-grow: 1;}
div:nth-of-type(2) {flex-grow: 3;}
div:nth-of-type(3) {flex-grow: 1;} */

.columns {
  display: flex;
  flex-grow: 1;
}

/* The flex-shrink property specifies how the item will shrink relative to the rest of the flexible items inside the same container. */
/* Let the second flex-item shrink three times more than the rest:
div:nth-of-type(2) {
  flex-shrink: 3;
} */

nav {
  background-color: coral;
  flex-shrink: 0;
  width: 100px;
}

main {
  background-color: moccasin;
  flex-grow: 1;
}

aside {
  background-color: sandybrown;
  flex-shrink: 0;
  width: 100px;
}

footer {
  background-color: slategray;
  height: 100px;
}
